{% load static %} <!-- loadint static folderi (su fotkem siuo atveju) --> 


<!DOCTYPE html>
<html>
    
<head>

	<title>Login</title>

</head>

<body>
	<h3 id="form-title">LOGIN</h3>

	<!-- Visi input fields. Palikti cia viska (visa forma) -->
	<form method="POST" action="">
		{% csrf_token %}
		<div>
			<input type="text" name="username" placeholder="Username..." class="field">
		</div>							
			<input type="password" name="password" placeholder="Password..." class="field" >
		</div>
		<div>
			<input id="login"  type="submit" value="Login">
		</div>
	</form>

	<!-- sekmingos registracijos message vienkartinis. Palikti. -->
	{% for message in messages %}
		<p id="messages">{{ message }}</p>
	{% endfor %}

	<!-- Nukreipia i register page`a. Geras pvz. kaip reikia dinamiskai prideti link`us Django -->
	<p>
		Don't have an account? <a href="{% url 'register' %}" >Sign Up</a>
	<p>

</body>

</html>