{% load static %} <!-- loadina static folderi. Ten visos fotkes sumestos -->

<!DOCTYPE html>

<html>
<head>
    <title>CAP</title>

    <style>
        body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: black;
        }

        /* geras pvz kaip fotkiu (Static faillu) ikelimas atrodo Django*/
        #image-div {
            background-image: url("{% static 'main/images/empty-room.png' %}");
            background-repeat: no-repeat;
            background-position: center;
            height:750px;
        }

    </style>
</head>

<body>

    <div id="image-div">
         <!-- Geras pvz. kaip paspaudus ant daikto (lango) zmogu logout`inti
            Dabar tai kaip baltas mygtukas kairej virsuj! -->
        <input type="button" id="langas" onclick="location.href='../logout';" />
    </div>

</body>

</html>